<style>
.editorial-carousel .post-wrapper {
  position: relative;
}

.editorial-carousel .picture-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}



.editorial-carousel .text-wrapper {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  background: #fff;
  padding: 25px;
  max-width: 320px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.editorial-carousel .text-wrapper h3 {
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #211F1D;
}

.editorial-carousel .text-wrapper .title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.editorial-carousel .text-wrapper .button {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

</style>

<div class="editorial-carousel swiper">
  <ul class="swiper-wrapper">
    {% for block in section.blocks %}
      <li class="child-post swiper-slide">
        <div class="post-wrapper">
          <div class="picture-wrapper">
            <img src="{{ block.settings.image | image_url: width: 1200 }}" alt="{{ block.settings.title }}">
          </div>
          <a href="{{ block.settings.link }}">
            <div class="text-wrapper show-post">
              <h3 class="child-slide-descripcion">{{ block.settings.subtitle }}</h3>
              <span class="title">{{ block.settings.title }}</span>
              <span class="text button hover-opacity">{{ block.settings.button_label }}</span>
            </div>
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
  <!-- Controles Swiper -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>




{% schema %}
{
  "name": "Editorial Carousel",
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        { "id": "image", "type": "image_picker", "label": "Imagen" },
        { "id": "subtitle", "type": "text", "label": "Subtítulo" },
        { "id": "title", "type": "text", "label": "Título" },
        { "id": "button_label", "type": "text", "label": "Texto botón", "default": "Ver selección >" },
        { "id": "link", "type": "url", "label": "Enlace" }
      ]
    }
  ],
  "presets": [{ "name": "Editorial Carousel" }]
}
{% endschema %}