<style>
.editorial-carousel .post-wrapper {
  position: relative;
}

.editorial-carousel .picture-wrapper img {
  width: 30%;
  height: 30%;
  display: block;
}

.editorial-carousel .text-wrapper {
  top: 26%;
        transition: unset;
        transform: unset;
        width: 47%;
        padding: 25px;
        padding-right: 10px;
        height: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex
;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
}

.editorial-carousel .text-wrapper h3 {
  font-size: 14px;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.editorial-carousel .text-wrapper .title {
  font-size: 30px;
    font-family: 'span';
    padding: 0;
    width: auto;
    display: block;
    letter-spacing: -0.5px;
    padding: 15px 0;
    line-height: 30px;
}

.editorial-carousel .text-wrapper .button {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}


</style>

<div class="editorial-carousel swiper">
  <ul class="swiper-wrapper">
    {% for block in section.blocks %}
      <li class="child-post swiper-slide">
        <div class="post-wrapper">
          <div class="picture-wrapper">
            <img src="{{ block.settings.image | image_url: width: 1200 }}" alt="{{ block.settings.title }}">
          </div>
          <a href="{{ block.settings.link }}">
            <div class="text-wrapper show-post">
              <h3 class="child-slide-descripcion">{{ block.settings.subtitle }}</h3>
              <span class="title">{{ block.settings.title }}</span>
              <span class="text button hover-opacity">{{ block.settings.button_label }}</span>
            </div>
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
  <!-- Controles Swiper -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>




{% schema %}
{
  "name": "Editorial Carousel",
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        { "id": "image", "type": "image_picker", "label": "Imagen" },
        { "id": "subtitle", "type": "text", "label": "Subtítulo" },
        { "id": "title", "type": "text", "label": "Título" },
        { "id": "button_label", "type": "text", "label": "Texto botón", "default": "Ver selección >" },
        { "id": "link", "type": "url", "label": "Enlace" }
      ]
    }
  ],
  "presets": [{ "name": "Editorial Carousel" }]
}
{% endschema %}